.hello h2 {
  font-size: 25px;
}

.hello h2 span {
  color: var(--hello-color);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 100%;
  padding-bottom: 50px;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.column div{
  width: 100%;
}

/*-------------------------------------------------------------------------------Card----------------------------------------------------------------------------*/

.card h2 {
  color: #f3e9e9;
}

.card {
  background-color: var(--card-color);
  padding: 20px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-radius: 10px;
  transition: 400ms;
}

.card:hover {
  transition: 400ms;
  transform: scale(1.01);
  box-shadow: 0 10px 25px rgba(0, 0, 0, .15);
}

.cardHeader h2 {
  font-size: 25px;
  padding: 20px 0px;
  display: flex;
  align-items: center;
  position: relative;
}

.cardNumber h2 {
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.copy {
  transition: transform 0.25s ease;
  cursor: pointer;
}

.copy:hover {
  transition: transform 0.25s ease;
  transform: translateY(-5px);
}

.cardNumber {
  display: flex;
}

.cardNumber button {
  position: relative;
  width: 30px;
}

.cardNumber button img {
  position: absolute;
  max-width: 100%;
}

.cardNumber h2 img {
  max-width: 30px;
}

.cardBalance {
  padding: 20px 0px;
}

.cardBalance h2 {
  font-size: 25px;
}

.cardBalance h2 span {
  font-weight: 700;
}


/*-------------------------------------------------------------------------------Card----------------------------------------------------------------------------*/






/*-------------------------------------------------------------------------------Tools----------------------------------------------------------------------------*/

.acions {
  max-width: 350px;
  transition: 400ms;
}

.acions:hover {
  transition: 400ms;
  transform: scale(1.01);
  box-shadow: 0 10px 25px rgba(0, 0, 0, .15);
}

.actionsHeader {
  background-color: var(--card-color);
  border-radius: 10px 10px 0px 0px;
}

.actionsHeader h2 {
  padding: 10px 0px;
  color: #f3e9e9;
}

.actionsBody {
  border: 2px solid var(--card-color);
  padding: 30px 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.actionsBody button {
  display: flex;
  align-items: center;
  gap: 10px;
}






/*-------------------------------------------------------------------------------Tools----------------------------------------------------------------------------*/






/*-------------------------------------------------------------------------------LastHistory----------------------------------------------------------------------------*/



.lastHistory {
  border: 2px solid var(--card-color);
  border-radius: 10px 10px 0px 0px;
  height: 370px;
  transition: 400ms;
}

.lastHistory:hover {
  transition: 400ms;
  transform: scale(1.01);
  box-shadow: 0 10px 25px rgba(0, 0, 0, .15);
}

.lastHistoryHeader {
  font-size: 25px;
  background-color: var(--card-color);
  color: #f3e9e9;
  padding: 20px;
  font-weight: 700;
}


.lastHistoryBody {
  padding: 20px;
  height: 250px;
}




.list {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list li {
  padding: 12px 0px;
  display: grid;
  min-width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  transition: 300ms;
}

.list li:hover {
  background-color: var(--card-color);
  color: #f3e9e9;
  transition: 300ms;
  transform: scale(1.01);
}


.sectionList {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.sectionList h2 {
  display: flex;
  gap: 10px;
}

.button {
  padding: 5px 10px;
  transition: 300ms;
  border-radius: 10px;
  font-weight: 600;
  color: var(--button-color-);
  background-color: var(--button-color-bg);
}

.button:hover {
  transition: 300ms;
  background-color: var(--button-color-bg-hover);
  color: var(--button-color-hover);
  border: 1px solid #f3e9e9;
}


/*-------------------------------------------------------------------------------LastHistory----------------------------------------------------------------------------*/





@media(max-width:450px) {
  .hello {
    text-align: left;
  }
}

@media(min-width: 900px) {
  .body {
    display: block;
  }

  .lastHistoryHeader {
    padding: 20px 30px;
  }

  .lastHistoryBody {
    padding: 20px 30px;
  }
}


@media (min-width: 900px) {
  .dashboard {
    display: block;
  }

  .lastHistory {
    margin-top: 50px;
  }

  .column {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .acions {
    max-width: none;
  }

  .card {
    max-width: none;
    gap: 5px;
    padding: 20px 30px;
  }

  .cardBalance {
    padding-bottom: 0px;
    margin-top: 20px;
  }

}

@media(min-width:1200px) {
  .main {
    padding-top: 50px;
  }

  .lastHistoryHeader {
    padding: 20px 40px;
  }

  .lastHistoryBody {
    padding: 20px 40px;
  }

  .column {
    padding-top: 50px;
  }

  .card {
    padding: 40px;
  }

  .hello h2 {
    font-size: 35px;
  }

  .cardHeader h2 {
    padding: 0px 0px;
  }

  .cardNumber {
    padding-top: 30px;
  }


  .actionsBody {
    padding: 40px 20px;
  }
}