body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: inherit;
}

.container {
  width: 100%;
  padding: 0px 20px;
}

.button {
  padding: 10px 15px;
  font-size: 17px;
  transition: 300ms;
  border-radius: 10px;
  font-weight: 600;
}

.button:hover{
  transition: 300ms;
  background-color: rgb(100, 100, 168);
  color: #fff;
}




.title {
  color: #111827;
  font-size: 34px;
  text-align: center;
  font-weight: 700;
}


.text {
  color: #111827;
  font-size: 17px;
}





@media(min-width: 650px) {
  .container {
    padding: 0px 40px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0px auto;
  }
}

@media (min-width: 900px) {
  .container {
    max-width: 800px;
  }
}

@media(min-width: 1000px) {
  .container {
    max-width: 900px;
  }
}


@media(min-width: 1150px) {
  .container {
    max-width: 1000px;
  }
}


@media(min-width: 1300px) {
  .container {
    max-width: 1100px;
  }
}


@media(min-width: 1450px) {
  .container {
    max-width: 1200px;
  }
}


@media(min-width: 1550px) {
  .container {
    max-width: 1300px;
  }
}