body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: inherit;
}

.container {
  width: 100%;
  padding: 0px 20px;
}

.button {
  padding: 10px 15px;
  font-size: 17px;
  transition: 300ms;
  border-radius: 10px;
  font-weight: 600;
}

.button:hover {
  transition: 300ms;
  background-color: #8BB7F0;
  color: #fff;
}

.deativetedBtn button:hover {
  transition: 300ms;
  background-color: rgba(128, 128, 128, 0.616);
  color: #fff;
}



.title {
  color: #111827;
  font-size: 34px;
  text-align: center;
  font-weight: 700;
}


.text {
  color: #111827;
  font-size: 17px;
}


.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.header {
  flex: 0 0;
}

.main {
  flex: 1 1;
  display: flex;
  min-height: 100%;
}

.footer {
  flex: 0 0;
  background-color: #8BB7F0;
}


@media(min-width: 650px) {
  .container {
    padding: 0px 40px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0px auto;
  }
}

@media (min-width: 900px) {
  .container {
    max-width: 800px;
  }
}

@media(min-width: 1000px) {
  .container {
    max-width: 900px;
  }
}


@media(min-width: 1150px) {
  .container {
    max-width: 1000px;
  }
}


@media(min-width: 1300px) {
  .container {
    max-width: 1100px;
  }
}


@media(min-width: 1450px) {
  .container {
    max-width: 1200px;
  }
}


@media(min-width: 1550px) {
  .container {
    max-width: 1300px;
  }
}